.card {
  background: rgba(var(--tertiary-color), 0.75);
  border-radius: 10px;
  margin: 30px;
}

.header {
  padding: 20px;
}

.image {
  height: 240px;
  border-radius: 15px;
  background: rgba(var(--primary-color));
}

.description {
  margin-top: 20px;
}

.content {
  height: 200px;
  overflow-y: auto;
  background: var(--secondary-color);
  padding: 8px 0 6px;
  border-radius: 0 0 10px 10px;
}

.searchWrapper {
  padding: 0 10px 0 16px;
}

.items {
  margin-top: 8px;
}

@media only screen and (max-width: 1200px) and (min-width: 641px) {
  .card {
    width: auto;
    max-width: 1000px;
    display: flex;
    max-height: 400px;
  }

  .header {
    display: flex;
    flex-direction: column-reverse;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .description {
    margin: 0 0 20px;
  }

  .content {
    padding-top: 20px;
    height: auto;
  }
}
