.item {
  display: flex;
  padding: 5px 10px 5px 16px;
}

.avatar {
  border-radius: 50%;
  background: #444444;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.description {
  width: fit-content;
}
