* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dadada;
  color: var(--main-txt-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h5 {
  font-size: 14px;
  margin: 8px 0;
}

h6 {
  font-size: 12px;
  margin: 8px 0;
}

p {
  margin: 4px 0;
  font-size: 10px;
}
